<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictionary App</title>
	<link href="https://fonts.googleapis.com/css2?family=Atomic+Age&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
		<div class="logo-title">
		          <img src="images/dictionary.png" alt="Dictionary App Logo" class="logo">
		          <h1>Meanify</h1>
		      </div>
        <form th:action="@{/result}" method="get">
            <input type="text" id="word-input" name="word" placeholder="Enter a word">
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>
